Source: kzorp
Section: unknown
Priority: extra
Maintainer: SZALAY Attila <sasa@debian.org>
Build-Depends: debhelper (>= 8.0.0), dkms, python-all, iptables-dev,
	autoconf, automake, libtool, pkg-config
Standards-Version: 3.9.4
Homepage: https://github.com/balabit/kzorp

Package: kzorp-dkms
Architecture: all
Depends: ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: kzorp
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: kzorp-iptables-modules
Architecture: any
Depends: ${misc:Depends}, ${shlib:depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
